@import "tailwindcss";

@font-face {
  font-family: 'Orkney-Local';
  /* Starting with / tells the browser to look in the 'public' folder */
  src: url('/fonts/Orkney-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orkney-Local';
  src: url('/fonts/Orkney-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  h1, h2, h3, .font-display {
    font-family: 'Orkney-Local', sans-serif !important;
  }
}

@layer utilities {
  .font-display {
    font-family: 'Orkney-Local', sans-serif !important;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 104px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-sans {
  font-family: var(--font-open-sans), ui-sans-serif, system-ui !important;
}

.font-sans-override {
  font-family: var(--font-open-sans), ui-sans-serif !important;
}